body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.backdrop {
    background: rgba(14, 35, 56, .33);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}

.options {
    position: absolute;
    top: 52px;
    z-index: 1;
    background: rgb(255, 255, 255);
    color: #000;
    width: 100%;
    left: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    list-style-type: none;
}

.rss .rss-wrapper form .selectors .options input {
    flex: inherit;
    margin: 0;
}

.options li:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .2) !important;
}

.options li:last-child {
    border-radius: 0 0 10px 10px;
}

.popup form .selector .options {
    top: 54px;
    margin: 0;
    border-left: 1px solid #eaf5fc;
    border-right: 1px solid #eaf5fc;
}

.popup form .selector .options li {
    padding: 0 20px;
}

.rss {
    color: #fff;
    height: 555px;
    background: url(../img/rss-bg.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.rss .title {
    text-align: center;
    margin-top: 45px;
}

.rss .title a {
    color: #73c7fc;
}

.rss .title p {
    margin: 0;
    line-height: 24px;
}

.rss .rss-wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px 5% 0;
}

.rss .rss-wrapper .left-rss,
.rss .rss-wrapper .right-rss {
    width: 50%;
    margin: 0 7%;
}

.rss .rss-wrapper .right-rss .form-title {
    text-align: right;
}

.rss .rss-wrapper form .selectors {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    list-style-type: none;
}

.rss .rss-wrapper form .selectors li {
    height: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    position: relative;
    z-index: 0;
}

.rss .rss-wrapper form .selectors li:not(:last-child) {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.rss .rss-wrapper form .selectors li p {
    flex: 1;
    margin: 0 20px;
}

.rss .rss-wrapper form .selectors li input {
    flex: 1;
    margin: 0 20px;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .8);
}

.rss .rss-wrapper form .selectors li input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .8);
}

.rss .rss-wrapper form .selectors li input::-moz-placeholder {
    color: rgba(255, 255, 255, .8);
}

.rss .rss-wrapper form .selectors li input:-moz-placeholder {
    color: rgba(255, 255, 255, .8);
}

.rss .rss-wrapper form .selectors li input:-ms-input-placeholder {
    color: rgba(255, 255, 255, .8);
}

.rss .rss-wrapper form .selectors li img {
    height: 20px;
    width: 20px;
    opacity: .8;
}

.rss .rss-wrapper form .selectors li img.arrow {
    width: 14px;
    height: 14px;
    outline: none;
}

.rss .rss-wrapper form .selectors li.open {
    z-index: 1;
}

.rss .rss-wrapper form .selectors li.open img.arrow, .popup form .selector.open img.arrow {
    transform: scale(-1);
}

.rss .rss-wrapper form .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rss .rss-wrapper form .actions .subscribe,
.rss .rss-wrapper form .actions .add-vacancy {
    background: #339bdd;
    color: #fff;
    border: none;
    outline: none;
    height: 50px;
    padding: 0 23px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.rss .rss-wrapper form .actions .add-vacancy {
    background: #e54a37;
}

.rss .rss-wrapper form .actions .radio-buttons {
    color: rgba(255, 255, 255, .5);
}

.rss .rss-wrapper form .actions .radio-buttons label,
.popup form .left label {
    cursor: pointer;
    position: relative;
    padding-left: 29px;
    margin-right: 15px;
}

.rss .rss-wrapper form .actions .radio-buttons label:before,
.popup form .left label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 2px solid #339bdd;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.popup form .left label {
    padding-left: 25px;
}

.popup form .left label:before {
    width: 13px;
    height: 13px;
}

.popup form .left input[type=radio]:checked + label:before {
    font-size: 30px;
    line-height: 13px !important;
}

.rss form .actions .radio-buttons input[type=radio],
.popup form .left input[type=radio] {
    display: none;
}

.rss form .actions .radio-buttons input[type=radio]:checked + label {
    color: rgba(255, 255, 255, .8);
}

.rss form .actions .radio-buttons input[type=radio]:checked + label:before,
.popup form .left input[type=radio]:checked + label:before {
    content: "\2022";
    color: #339bdd;
    font-size: 30px;
    text-align: center;
    line-height: 17px;
}

.popup {
    max-width: 768px;
    max-height: 546px;
    border-radius: 5px;
    background: #fff;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 1px 60px rgba(0, 0, 0, .5);
    z-index: 2;
    display: none;
}

.popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
}

.popup form input {
    border: none;
    color: #a8b1ba;
    outline: none;
    flex: 1;
}

.popup form .selector,
.popup form .input-wrapper,
.popup form .selector .options li {
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
    border-bottom: 1px solid #eaf5fc !important;
    height: 53px;
    font-size: 13px;
}

.popup form .selector {
    cursor: pointer;
}

.popup form .selector p {
    flex: 1;
    color: #a8b1ba;
}

.popup form .selector sup {
    font-size: 9px;
}

.popup form img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.popup form input::-webkit-input-placeholder {
    color: #a8b1ba;
}

.popup form input::-moz-placeholder {
    color: #a8b1ba;
}

.popup form input:-moz-placeholder {
    color: #a8b1ba;
}

.popup form input:-ms-input-placeholder {
    color: #a8b1ba;
}

.popup form .mce-tinymce {
    border: none;
    margin-top: 43px;
}

.popup form .mce-panel {
    background-color: transparent;
    padding: 0;
}

.popup form .mce-container-body.mce-flow-layout {
    padding-left: 90px;
}

.popup form .mce-edit-area {
    border: 1px solid #dfe5e8 !important;
    border-radius: 10px;
}

.popup form .mce-edit-area iframe {
    border-radius: 10px;
}

.popup form .mce-statusbar {
    display: none;
}

.popup form .mce-btn {
    border: none;
    background: none;
    margin: 0;

}

.popup form .mce-btn button {
    -webkit-appearance: button;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    background-color: buttonface;
    border-radius: 0;
}

.popup form .mce-btn button:active {
    border-style: inset;
}

.popup form .mce-btn:nth-child(8) {
    margin-right: 5px;
}

.popup form .actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.popup form .actions .left {
    font-size: 13px;
}

.popup form .actions .left .subheader {
    color: #a8b1ba;
    margin: 10px 0;
}

.popup form .actions .right .send,
.popup form .actions .right .cancel {
    background-color: #e1f0fa;
    color: #1d88cf;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.popup form .actions .right .cancel {
    background-color: #f7e3e3;
    color: #cc4544;
}


